<%= render "layouts/header" %>
<div class="container mt-5">

  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のエラーが発生しました
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_with model: @genre,url: genre_path(@genre) do |f| %>
    <%= f.label :"ジャンル名" %>
    <%= f.text_field :name %>
    <%= f.submit "更新", class: "btn btn-secondary" %>
  <% end %>
</div>

<%= render "layouts/footer" %>