<%= render "layouts/header" %>

<div class="container mt-5">
  <%= form_with model: @genre,url: genre_path(@genre) do |f| %>
    <%= f.label :"ジャンル名" %>
    <%= f.text_field :name %>
    <%= f.submit "更新", class: "btn btn-secondary" %>
  <% end %>
</div>

<%= render "layouts/footer" %>