<%= render "layouts/header" %>
<div class="container mt-5">

  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のエラーが発生しました
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_with model: @genre,url: genres_path do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "追加", class: "btn btn-secondary" %>
  <% end %>

  <table class = "table table-hover">
    <thead>
      <tr class="active">
        <th>ジャンル</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集", edit_genre_path(genre.id), class: "btn btn-secondary text-white" %></td>
          <td><%= link_to "削除", genre_path(genre.id), method: :delete, class: "btn btn-danger text-white" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row justify-content-center">
  <%= paginate @genres %>
</div>