<%= render "layouts/header" %>

<div class="container mt-5">
  <div class='row'>
      <div class='col-sm-3'>
      <h2>User info</h2>
        <table class='table'>
          <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
          <tr>
        	  <th>name</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= @user.introduction %></th>
          	<tr>
        	  <th>フォロー数</th>
        	  　<td>
        	      <%= link_to user_followings_path(@user) do %>
        	    　<%= @user.followings.count %>
        	      <% end %>
        	    </td>
            </tr>
        	  <tr>
              <th>フォロワー数</th>
                <td>
                  <%= link_to user_followers_path(@user) do %>
                  <%= @user.followers.count %>
                  <% end %>
                </td>
            </tr>
          </tr>
        </table>

      <div class='row'>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>

    </div><!--col-sm-3-->
    <div class='col-sm-8 offset-md-1'>
      <h2>朝食一覧</h2>
      <%#= render 'posts/index', posts: @posts %>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>