<%= render "layouts/header" %>

<div class="container mt-5">
  <div class='row'>
      <div class='col-sm-3'>
      <h2>User info</h2>
        <table class='table'>
          <tr><%= image_tag @user.get_profile_image(100,100) %>
            <div id="follow-ajax">
              <%= render 'relationships/follow', user: @user %>
            </div>
          </tr>
          <tr>
        	  <th>name</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <td><%= @user.introduction %></td>
        	</tr>
        	<tr>
        	  <th>いいねした投稿</th>
        	  <td style="text-align: right;">
        	    <%= link_to favorites_user_path(@user) do %>
        	    <%= @user.favorites.count %>件
        	    <% end %>
        	   </td>
        	</tr>
          <tr>
        	  <th style="min-width: 120px">フォロー数</th>
        	  <td>
        	    <div id="follower-count">
        	      <%= render 'relationships/follower_count', user: @user %>
        	    </div>
        	   </td>
          </tr>
        	<tr>
            <th>フォロワー数</th>
              <td>
                <div id="followed-count">
                 <%= render 'relationships/followed_count', user: @user %>
                </div>
              </td>
          </tr>
          </tr>
        </table>


      <div class='row'>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>

    </div><!--col-sm-3-->
    <div class='col-sm-8 offset-md-1'>
      <h2>my朝食</h2>
        <% @posts.each do |post| %>
    <div class="d-inline-flex p-4 bd-highlight ">
      <%= link_to post_path(post.id) do %>
        <p><%= image_tag post.get_image(200,200) %></p>
        <p><%= post.name %></p>
        <p><%= "#{post.post_comments.count} コメント" %></p>
        <p><%= "#{post.favorites.count} よいね" %></p>
      <% end %>
    </div>
  <% end %>

  <div class="row justify-content-center">
      <%= paginate @posts %></p>
  </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>