  <div class="top-visual">
    <div class="header-top">
    <% if user_signed_in? %>
    <ul class="top-ul">
      <li class="top-li">
        <%= link_to "投稿フォーム", homes_about_path %>
      </li>
      <li class="top-li">
        <%= link_to "投稿一覧", homes_about_path %>
      </li>
      <li class="top-li">
        <%= link_to "マイページ", homes_about_path %>
      </li>
      <li class="top-li">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
    <% else %>
    <ul class="top-ul">
      <li class="top-li">
        <%= link_to "About", homes_about_path %>
      </li>
      <li class="top-li">
        <%= link_to "投稿一覧", homes_about_path %>
      </li>
      <li class="top-li">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li class="top-li">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    </ul>
    <% end %>
    </div>
    <h3 class="title-top">朝食品評会</h3>
　</div>