<div class="container">
<h5>タグが<%=@tag.name%>の投稿一覧</h5>

<!--タグリスト-->
<% @tag_list.each do |list|%>
<%=link_to list.name,search_tag_path(tag_id: list.id) %>
<%="(#{list.posts.count})" %><% end %>
<% @posts.each do |post| %>
<!--投稿はカードで囲む-->
<div class="card">
  <div class="card-body">
    <!--タイトル表示される文字数は２５文字までにしてます-->
    <h6 class="card-title">
      <%=link_to post_path(post.id) do %><%= post.name.truncate(25) %>
      <% end %>
    </h6>
    <!--お気に入り、コメント数、投稿者は部分テンプレ-->



  </div>
</div>
<% end %>

<div class="pagination pagination-sm justify-content-center">
       <%= paginate @posts %></div>

</div>


<style>
.card{
  padding:0;
  margin:0;
  border:none;
}



h6 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
</style>