<%= render "layouts/header" %>
<div class="container mt-5">
  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
      <% if @post.image.attached? %>
      <%= image_tag @post.image, size: '200x200' %>
      <% else %>
      <%= image_tag 'medamayaki' %>
      <% end %>
    </div>
        <div class="col-sm-4">
        　<table class="table table-borderless">
            <tbody>
            　<tr>
                <td>商品名</td>
                <td><%= @post.name %></td>
            　</tr>

              <tr>
                <td>商品説明</td>
                <td><%= @post.describe %></td>
              </tr>

              <tr>
                <td>ジャンル</td>
                <td><%= @post.genre.name %></td>
              </tr>

              <tr>
                <td>投稿ユーザー</td>
                <td><%= link_to(@post.user) do %>
                    <%= @user.name %>
                    <%= image_tag @post.user.get_profile_image(50,50) %>
                    <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <% @post_tags.each do |tag| %><!--タグ表示-->
                    <%= link_to tag.name, search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>

  <div class="row">
    <div class="offset-sm-9 col-sm-2">
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary" %>
      <%= link_to '削除', @post, url: edit_post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>